* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

body {
    background: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    background: #000;
}
.btn-set{
    margin-top: 30vh;
    position: absolute;
    align-self: center;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-btn{
    opacity: 0;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    height: 100%;
    width: 50%;
    border: none;
    background: #1b1f27;
    touch-action: none;
}